body {
  font-size: 16px;
  font-family: "Roboto Slab", sans-serif;
  background-color: rgb(255, 250, 234);
  color: rgb(21, 48, 37);
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
}

img {
  height: 60px;
}

#page-body {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
}

a {
  color: rgb(0, 49, 18);
  text-decoration: none;
}

.active {
  font-weight: bold;
}

a:hover, #sidebar a:hover {
  color: rgb(19, 173, 91) !important;
}

.fixed {
  position: fixed;
}

#top {
  display: flex;
  flex-direction: row;
}

#top a {
  margin-right: 60%;
}

#top p {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 118px;
  border-radius: 20px;
  box-shadow: -1px 1px 5px rgb(173, 173, 173);
}

button, .button {
  background-color: rgb(13, 99, 107);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  border: solid rgb(13, 99, 107);
  font-family: "Roboto Slab", sans-serif;
  font-size: 16px;
  color: white;
}

#donate-btn {
  position: absolute;
  margin-left: 82%;
  margin-top: 16px;
}

button:hover, .button:hover {
  cursor: pointer;
  background-color: rgb(17, 126, 136);
  border: solid rgb(17, 126, 136);
}

#sidebar {
  margin-top: 25px;
}

#sidebar a {
  font-size: 18px;
  line-height: 90%;
  transform: scale(1, 0.95);
  display: block;
}

#content {
  width: 850px;
  margin-left: 20%;
  margin-bottom: 12px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
}

.friends-list {
  width: 28%;
  height: 500px;
  padding: 20px 40px 20px 50px;
  background-color: white;
  border-radius: 20px;
  margin-right: 2%;
  box-shadow: -1px 1px 5px rgb(173, 173, 173);
}

#content_chatbox {
  width: 70%;
  padding: 20px 5px 20px 5px;
  background-color: white;
  border-radius: 20px;
  box-shadow: -1px 1px 5px rgb(173, 173, 173);
}

.username {
  font-size: 20px;
  margin: 15px;
}

.profile-pic {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.user-info {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

<<<<<<< HEAD
.milli-dp {
  margin-top: 10px;
}

#milli-head {
  font-size: 20pt;
  margin-left: 10px;
}

.chat-bubble {
=======
#rect {
  background-color: #C8D5B9;
  width: 450px;
  height: auto;
>>>>>>> 7efb815857c7bb108d47700fdaea5b4afad77c5b
  border-radius: 20px;
  box-shadow: -1px 1px 3px rgb(156, 156, 156);
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 30px;
  padding: 0.5px;
  padding-left: 12px;
  padding-right: 12px;
}

#milli {
  background-color: #e9ffd1;
  width: 260px;
}

#user {
  background-color: #d1eeff;
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: 30px;
}

.avatar {
  width: 30px;
  height: 30px;
  margin-left: 5
}

#text-in {
  margin-top: 200px;
}

#chat-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 4%;
}

#textbox {
  width: 78%;
  height: 30px;
  border-radius: 5px;
  border: solid rgb(173, 173, 173);
  padding: 5px;
  font-size: 16px;
}

#submit-btn {
  margin-left: 10px;
}

footer {
  margin-top: 100px;
  margin-bottom: 80px;
}

footer p {
  opacity: 0.6;
  font-weight: 500;
}